astroid==2.3.2
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
config==0.4.2
Flask==1.1.1
future==0.18.1
google-api-core==1.14.3
google-auth==1.6.3
google-cloud-vision==0.39.0
googleapis-common-protos==1.6.0
grpcio==1.24.1
gunicorn==19.9.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.2
line-bot-sdk==1.14.0
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.17.3
Pillow==6.2.0
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pylint==2.4.3
python-dotenv==0.10.3
pytz==2019.3
requests==2.22.0
rsa==4.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.6
Werkzeug==0.16.0
wrapt==1.11.2
xport==2.0.2
